# Secretos y configuración personal
.env

# Base de datos (No la subas, cada PC debe generar la suya o descargarla aparte)
*.db

# Entorno virtual y temporales
venv/
__pycache__/
log_history/

# Configuración del editor (PyCharm)
.idea/

# Configuración de VS Code (opcional si lo usas)
.vscode/

# Archivos temporales del sistema
.DS_Store
Thumbs.db